{
    "printWidth": 120,
    "trailingComma": "all",
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "endOfLine": "auto"
}
